body{
    background-color: #f5aba8;
}

h1{
    font-family: "Monaco", Courier, monospace
}

main{
    background :rgb(223, 213, 213);
    margin: 20px 20px;
    padding: 10px;
    overflow: auto;
    resize: both;
}

main div{
    padding: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    padding: 0;
    background-color: #292727;
}

nav a{
    display: inline-block;
    padding: 20px 10px;
    color: white;
    font-family: "Monaco", Courier, monospace;
    text-decoration: none;
}

nav a:hover{
    background-color: #534f4f
}

nav .current{
    background-color: red;
}

form{
    font-family: "Monaco", Courier, monospace
}

.grid_container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 5fr;
    background-color: white;
    border: 2px solid black;
    padding: 0px;
    margin: 20px 30px
}

.text_grid{
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    padding: 0px;
}

.img-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-box > img{
    border: 1px solid salmon;
    border-radius: 4px;
    padding: 5px;
    width: 150px;

    max-width: 100%;
    height: auto;
    
}

.img-box > img:hover{
    box-shadow: 0 0 2px 1px #534f4f;
}

.grid_item{
    background-color: white;
    border: 1px solid black;
    padding: 1px;
    font-size: 24px;
    text-align: center;
    font-family: "Monaco", Courier, monospace
}

#TopButton{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#TopButton:hover{
    background-color: #534f4f
}